# Local application environment
APP_ENV=development
APP_HOST=0.0.0.0
APP_PORT=3000
SQL_ECHO=true

# Active database URL
# To use SQLite locally, keep DATABASE_URL pointing to sqlite+aiosqlite
# To use PostgreSQL from docker-compose, uncomment the PostgreSQL line instead
 DATABASE_URL=sqlite+aiosqlite:///./sqlite_data/eventflow.db
# DATABASE_URL=postgresql+asyncpg://postgres:Supabase_123@db.etfyhhtdpliyojsnlfpc.supabase.co:5432/postgres

UPLOAD_DIR=./uploads
